@import "settings";
@import "mixins";
@import "documentation";

@if($scaffolding__include-classes) {
  *,
  *:before,
  *:after {
    @include box-sizing(border-box);
  }

  body {
    background-color: $scaffolding__body__background-color;
  }

  // scss-lint:disable QualifyingElement
  html.js.opacity {
    opacity: 0;
  }

  html.csstransitions.wf-inactive,
  html.csstransitions.wf-active {
    @include transition-duration(.5s);
    @include transition-property(opacity);
  }

  html.js.opacity.wf-inactive,
  html.js.opacity.wf-active {
    opacity: 1;
  }
  // scss-lint:enable QualifyingElement

  hr {
    @include voxel-scaffolding__hr();
  }
}
