@mixin voxel-scaffolding__hr() {
  border-color: $voxel-scaffolding__horizontal-rule__color;
  border-style: $voxel-scaffolding__horizontal-rule__style;
  border-width: $voxel-scaffolding__horizontal-rule__width;
}
