$voxel-scaffolding__include-classes: $voxel-components__include-classes !default;

$voxel-scaffolding__box-sizing: border-box !default;

$voxel-scaffolding__spacing--horizontal: () !default;
$voxel-scaffolding__spacing--horizontal: map-merge((
  // Perfect Fourth scale (1.333)
  // See type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Open%2BSans&font-family=%27Open%20Sans%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
  "50": rem-calc(.178rem),
  "100": rem-calc(.238rem),
  "200": rem-calc(.317rem),
  "300": rem-calc(.422rem),
  "400": rem-calc(.563rem),
  "500": rem-calc(.75rem),
  "600": rem-calc(1rem),
  "700": rem-calc(1.333rem),
  "800": rem-calc(1.777rem),
  "900": rem-calc(2.369rem),
  "a100": rem-calc(3.157rem),
  "a200": rem-calc(4.21rem)
), $voxel-scaffolding__spacing--horizontal);

$voxel-scaffolding__spacing--vertical: () !default;
$voxel-scaffolding__spacing--vertical: map-merge((
  // Minor Third scale (1.200)
  // http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=Open%2BSans&font-family=%27Open%20Sans%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
  "50": rem-calc(.335rem),
  "100": rem-calc(.402rem),
  "200": rem-calc(.483rem),
  "300": rem-calc(.579rem),
  "400": rem-calc(.694rem),
  "500": rem-calc(.833rem),
  "600": rem-calc(1rem),
  "700": rem-calc(1.2rem),
  "800": rem-calc(1.44rem),
  "900": rem-calc(1.728rem),
  "a100": rem-calc(2.074rem),
  "a200": rem-calc(2.4888rem),
  "a400": rem-calc(2.987rem)
), $voxel-scaffolding__spacing--vertical);

$voxel-scaffolding__border-radius: () !default;
$voxel-scaffolding__border-radius: map-merge((
  "300": 3px,
  "600": 4px,
  "900": 6px
), $voxel-scaffolding__border-radius);

/* Small devices (VGA and up) */
$voxel-scaffolding__screen--s--min: 640px !default;

/* Medium devices (SVGA and up) */
$voxel-scaffolding__screen--m--min: 800px !default;

/* Large devices (SXGA and up) */
$voxel-scaffolding__screen--l--min: 1280px !default;

$voxel-scaffolding__transition-duration: .3s !default;

$voxel-scaffolding__body__background-color: #fff !default;

$voxel-scaffolding__horizontal-rule__color: map-get($voxel-color__brand--primary, "500") !default;
$voxel-scaffolding__horizontal-rule__style: solid !default;
$voxel-scaffolding__horizontal-rule__width: 1px !default;
