@import "settings";
@import "documentation";

#voxel .voxel-table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;

  th {
    background-color: map-get($colors__brand--primary, "50");
    color: map-get($colors__brand--primary, "700");
    text-align: left;
  }

  tfoot {
    font-weight: bold;
  }

  td,
  th {
    border: 1px solid #e5e5e5;
    padding: .25rem .5rem;
  }
}
