@mixin voxel-table() {
  border-collapse: collapse;
  margin-bottom: $voxel-tables__margin-bottom;
  width: 100%;

  th {
    background-color: $voxel-tables__th__background-color;
    color: $voxel-tables__th__color;
    text-align: left;
  }

  tfoot {
    font-weight: bold;
  }

  td,
  th {
    border-color: $voxel-tables__border--color;
    border-style: $voxel-tables__border--style;
    border-width: $voxel-tables__border--width;
    padding-bottom: $voxel-tables__cell__padding-bottom;
    padding-left: $voxel-tables__cell__padding-left;
    padding-right: $voxel-tables__cell__padding-right;
    padding-top: $voxel-tables__cell__padding-top;
  }
}

@mixin voxel-table__themes($theme) {
  th {
    background-color: map-get(map-get($voxel-colors__themes, $theme), $voxel-tables__th__background-color__shade);
    color: map-get(map-get($voxel-colors__themes, $theme), $voxel-tables__th__color__shade);
  }
}
