@mixin voxel-table() {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;

  th {
    background-color: $voxel-tables__th__background-color;
    color: $voxel-tables__th__color;
    text-align: left;
  }

  tfoot {
    font-weight: bold;
  }

  td,
  th {
    border-color: $voxel-tables__border--color;
    border-style: $voxel-tables__border--style;
    border-width: $voxel-tables__border--width;
    padding: .25rem .5rem;
  }
}
