$voxel-tables__include-classes: $voxel-components__include-classes !default;

$voxel-tables__margin-bottom: map-get($voxel-scaffolding__spacing--vertical, "600") !default;

$voxel-tables__border--color: map-get(map-get($voxel-colors__themes, "gray"), "200") !default;
$voxel-tables__border--width: 1px !default;
$voxel-tables__border--style: solid !default;

$voxel-tables__th__background-color__shade: "50" !default;
$voxel-tables__th__background-color: map-get($voxel-colors__brand--primary, $voxel-tables__th__background-color__shade) !default;
$voxel-tables__th__color__shade: "700" !default;
$voxel-tables__th__color: map-get($voxel-colors__brand--primary, $voxel-tables__th__color__shade) !default;

$voxel-tables__cell__padding-top: map-get($voxel-scaffolding__spacing--vertical, "50") !default;
$voxel-tables__cell__padding-bottom: map-get($voxel-scaffolding__spacing--vertical, "50") !default;
$voxel-tables__cell__padding-left: map-get($voxel-scaffolding__spacing--horizontal, "300") !default;
$voxel-tables__cell__padding-right: map-get($voxel-scaffolding__spacing--horizontal, "300") !default;
