$voxel-tables__include-classes: $voxel-components__include-classes !default;

$voxel-tables__border--color: map-get(map-get($voxel-colors__themes, "gray"), "200") !default;
$voxel-tables__border--width: 1px !default;
$voxel-tables__border--style: solid !default;
