@mixin voxel-drawer() {
  @include transition-duration($voxel-drawer__transition--duration);
  @include transition-property(-webkit-transform, -moz-transform, -o-transform, transform);
  @include transition-timing-function(ease-in);
  @include background-image(
    $voxel-drawer__background-image,
    radial-gradient(
      top center,
      100%,
      rgba($voxel-drawer__background-gradient__color--start, $voxel-drawer__background-alpha),
      rgba($voxel-drawer__background-gradient__color--end, $voxel-drawer__background-alpha)
    )
  );
  background-size: auto;
  border-right-color: $voxel-drawer__border--right--color;
  border-right-style: $voxel-drawer__border--right--style;
  border-right-width: $voxel-drawer__border--right--width;
  font-family: $voxel-drawer__font-family;
  height: 100%;
  left: rem-calc(-($voxel-drawer__width));
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: rem-calc($voxel-drawer__width);
  z-index: $voxel-drawer__z-index;
}

@mixin voxel-drawer__themes($theme) {
  @include background-image(
    $voxel-drawer__background-image,
    radial-gradient(
      top center,
      100%,
      rgba(
        map-get(
          map-get(
            $voxel-colors__themes,
            $theme
          ),
          $voxel-drawer__background-gradient__color--start__shade
        ),
        $voxel-drawer__background-alpha
      ),
      rgba(
        map-get(
          map-get(
            $voxel-colors__themes,
            $theme
          ),
          $voxel-drawer__background-gradient__color--end__shade
        ),
        $voxel-drawer__background-alpha
      )
    )
  );
  background-size: auto;
  border-right-color: map-get(map-get($voxel-colors__themes, $theme), $voxel-drawer__border--right--color__shade);
}

@mixin voxel-drawer--with-transforms() {
  @include transform(translate3d(rem-calc(-($voxel-drawer__width)), 0, 0));
  left: 0;
}

@mixin voxel-drawer--active() {
  @include box-shadow(0 0 rem-calc($voxel-drawer__box-shadow--radius) 0 $voxel-drawer__box-shadow--color);
  left: 0;
}

@mixin voxel-drawer--active--with-transforms() {
  @include transform(translate3d(0, 0, 0));
}

@mixin voxel-drawer__toggle() {
  color: $voxel-drawer__toggle__color;
  font-family: sans-serif;
  font-size: $voxel-drawer__toggle__font-size;
  font-weight: bold;
  left: 0;
  padding-bottom: rem-calc($voxel-drawer__toggle__padding--bottom);
  padding-left: rem-calc($voxel-drawer__toggle__padding--left);
  padding-right: rem-calc($voxel-drawer__toggle__padding--right);
  padding-top: rem-calc($voxel-drawer__toggle__padding--top);
  position: fixed;
  text-decoration: none;
  top: 0;
  z-index: $voxel-drawer__toggle__z-index;
}

@mixin voxel-drawer__toggle__themes($theme) {
  color: map-get(map-get($voxel-colors__themes, $theme), $voxel-drawer__toggle__color__shade);
}

@mixin voxel-drawer__toggle--with-transitions() {
  @include transition-duration($voxel-drawer__toggle__transition--duration);
  @include transition-property(color, transform);
}

@mixin voxel-drawer__toggle--active() {
  color: $voxel-drawer__toggle__color--active;
}

@mixin voxel-drawer__toggle--active__themes($theme) {
  color: map-get(map-get($voxel-colors__themes, $theme), $voxel-drawer__toggle__color--active__shade);
}

@mixin voxel-drawer__toggle--active--with-transforms() {
  @include transform(rotateZ(180deg));
}

@mixin voxel-drawer__title() {
  color: $voxel-drawer__title__color;
  font-size: rem-calc($voxel-drawer__title__font-size);
  text-decoration: none;
}

@mixin voxel-drawer__title__themes($theme) {
  color: map-get(map-get($voxel-colors__themes, $theme), $voxel-drawer__title__color__shade);
}

@mixin voxel-drawer__header() {
  background-color: $voxel-drawer__header__background-color;
  margin-bottom: rem-calc($voxel-drawer__header__margin--bottom);
  min-height: rem-calc($voxel-drawer__header__height--min);
  padding-bottom: rem-calc($voxel-drawer__header__padding--bottom);
  padding-top: rem-calc($voxel-drawer__header__padding--top);
  position: relative;
  text-align: $voxel-drawer__header__text-align;

  &:before {
    @include box-shadow(
      $voxel-drawer__header__box-shadow--color
      0
      0
      $voxel-drawer__header__box-shadow--radius
      0
    );
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: rem-calc($voxel-drawer__header__box-shadow--height);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: rem-calc($voxel-drawer__header__box-shadow--width);
    z-index: -1;
  }
}

@mixin voxel-drawer__header__themes($theme) {
  background-color: map-get(map-get($voxel-colors__themes, $theme), $voxel-drawer__header__background-color__shade);

  &:before {
    @include box-shadow(
      map-get(map-get($voxel-colors__themes, $theme), $voxel-drawer__header__box-shadow--color__shade)
      0
      0
      $voxel-drawer__header__box-shadow--radius
      0
    );
  }
}

@mixin voxel-drawer__index() {
  counter-reset: voxel-drawer__index__counter;
  list-style-type: none;
  padding-left: rem-calc($voxel-drawer__index__padding--left);
}

@mixin voxel-drawer__index__item() {
  counter-increment: voxel-drawer__index__counter;

  &:before {
    content: counters(voxel-drawer__index__counter, ".") ".";
    display: block;
    float: left;
    font-weight: bold;
    margin-right: rem-calc($voxel-drawer__index__item__counter__margin--right);
    padding-bottom: $voxel-drawer__index__item__before__padding--bottom;
    padding-top: $voxel-drawer__index__item__before__padding--top;
  }
}

@mixin voxel-drawer__index__item__text() {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: rem-calc($voxel-drawer__index__item__text__padding--bottom);
  padding-top: rem-calc($voxel-drawer__index__item__text__padding--top);
}

@mixin voxel-drawer__index__item__link() {
  display: block;
  padding-bottom: rem-calc($voxel-drawer__index__item__link__padding--bottom);
  padding-top: rem-calc($voxel-drawer__index__item__link__padding--top);
  text-decoration: none;

  &:hover {
    @include background-with-css2-fallback(
      linear-gradient(
        to right,
        $voxel-drawer__index__item__link--hover__background-gradient__color--start,
        $voxel-drawer__index__item__link--hover__background-gradient__color--end
      )
    );
  }
}

@mixin voxel-drawer__index__item__link__themes($theme) {
  &:hover {
    @include background-with-css2-fallback(
      linear-gradient(
        to right,
        $voxel-drawer__index__item__link--hover__background-gradient__color--start,
        map-get(
          map-get(
            $voxel-colors__themes,
            $theme
          ),
          $voxel-drawer__index__item__link--hover__background-gradient__color--end__shade
        )
      )
    );
  }
}


@mixin voxel-drawer__index__item__link--active() {
  @include background-with-css2-fallback(
    linear-gradient(
      to right,
      $voxel-drawer__index__item__link--active__background-gradient__color--start,
      $voxel-drawer__index__item__link--active__background-gradient__color--end
    )
  );
}

@mixin voxel-drawer__index__item__link--active__themes($theme) {
  @include background-with-css2-fallback(
    linear-gradient(
      to right,
      $voxel-drawer__index__item__link--active__background-gradient__color--start,
      map-get(
        map-get(
          $voxel-colors__themes,
          $theme
        ),
        $voxel-drawer__index__item__link--active__background-gradient__color--end__shade
      )
    )
  );
}
