@mixin voxel-drawer() {
  box-shadow: 0 0 $voxel-drawer__box-shadow--radius 0 $voxel-drawer__box-shadow--color;
  @include background-image(
    $voxel-drawer__background-image,
    radial-gradient(
      top center,
      100%,
      rgba($voxel-drawer__background-gradient__color--start, $voxel-drawer__background-alpha),
      rgba($voxel-drawer__background-gradient__color--end, $voxel-drawer__background-alpha)
    )
  );
  // scss-lint:disable DuplicateProperty ColorVariable
  background-color: #fff; // Set fallback color for unsupported browsers.
  background-color: rgba(#fff, 0); // Remove fallback color so that the gradient transparency takes effect.
  // scss-lint:enable DuplicateProperty ColorVariable
  background-size: auto;
  border-right-color: $voxel-drawer__border--right--color;
  border-right-style: $voxel-drawer__border--right--style;
  border-right-width: $voxel-drawer__border--right--width;
  font-family: $voxel-drawer__font-family;
  height: 100%;
  left: -($voxel-drawer__width);
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: $voxel-drawer__width;
  z-index: $voxel-drawer__z-index;
}

@mixin voxel-drawer__themes($theme) {
  box-shadow: 0 0 $voxel-drawer__box-shadow--radius 0 map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__box-shadow--color__shade);
  @include background-image(
    $voxel-drawer__background-image,
    radial-gradient(
      top center,
      100%,
      rgba(
        map-get(
          map-get(
            $voxel-color__themes,
            $theme
          ),
          $voxel-drawer__background-gradient__color--start__shade
        ),
        $voxel-drawer__background-alpha
      ),
      rgba(
        map-get(
          map-get(
            $voxel-color__themes,
            $theme
          ),
          $voxel-drawer__background-gradient__color--end__shade
        ),
        $voxel-drawer__background-alpha
      )
    )
  );
  background-size: auto;
  border-right-color: map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__border--right--color__shade);
}

@mixin voxel-drawer--with-transitions() {
  @include transition-duration($voxel-drawer__transition--duration);
  @include transition-property(-webkit-transform, -moz-transform, -o-transform, transform, opacity);
  @include transition-timing-function(ease-in);
}

@mixin voxel-drawer--with-transforms() {
  @include transform(translate3d(-($voxel-drawer__width), 0, 0));
  left: 0;
}

@mixin voxel-drawer--active() {
  left: 0;
  opacity: 1;
}

@mixin voxel-drawer--active--with-transforms() {
  @include transform(translate3d(0, 0, 0));
}

@mixin voxel-drawer__toggle() {
  color: $voxel-drawer__toggle__color;
  font-family: sans-serif;
  font-size: $voxel-drawer__toggle__font-size;
  font-weight: bold;
  left: 0;
  padding-bottom: $voxel-drawer__toggle__padding--bottom;
  padding-left: $voxel-drawer__toggle__padding--left;
  padding-right: $voxel-drawer__toggle__padding--right;
  padding-top: $voxel-drawer__toggle__padding--top;
  position: fixed;
  text-decoration: none;
  top: 0;
  z-index: $voxel-drawer__toggle__z-index;
}

@mixin voxel-drawer__toggle__themes($theme) {
  color: map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__toggle__color__shade);
}

@mixin voxel-drawer__toggle--with-transitions() {
  @include transition-duration($voxel-drawer__toggle__transition--duration);
  @include transition-property(color, transform);
}

@mixin voxel-drawer__toggle--active() {
  color: $voxel-drawer__toggle__color--active;
}

@mixin voxel-drawer__toggle--active__themes($theme) {
  color: map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__toggle__color--active__shade);
}

@mixin voxel-drawer__toggle--active--with-transforms() {
  @include transform(rotateZ(180deg));
}

@mixin voxel-drawer__title() {
  color: $voxel-drawer__title__color;
  font-size: $voxel-drawer__title__font-size;
  text-decoration: none;
}

@mixin voxel-drawer__title__themes($theme) {
  color: map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__title__color__shade);
}

@mixin voxel-drawer__header() {
  background-color: $voxel-drawer__header__background-color;
  margin-bottom: $voxel-drawer__header__margin--bottom;
  min-height: $voxel-drawer__header__height--min;
  padding-bottom: $voxel-drawer__header__padding--bottom;
  padding-top: $voxel-drawer__header__padding--top;
  position: relative;
  text-align: $voxel-drawer__header__text-align;
}

@mixin voxel-drawer__header--with-transforms() {
  &:before {
    @include voxel-circle-shadow(
      $voxel-drawer__header__box-shadow--color,
      $voxel-drawer__header__box-shadow--radius,
      $voxel-drawer__header__box-shadow--height,
      $voxel-drawer__header__box-shadow--width
    );
  }
}

@mixin voxel-drawer__header__themes($theme) {
  background-color: map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__header__background-color__shade);

  &:before {
    box-shadow: map-get(map-get($voxel-color__themes, $theme), $voxel-drawer__header__box-shadow--color__shade) 0 0 $voxel-drawer__header__box-shadow--radius 0;
  }
}

@mixin voxel-list() {
  counter-reset: voxel-list__counter;
  list-style-type: none;
  padding-left: $voxel-list__padding--left;
}

@mixin voxel-list__item() {
  counter-increment: voxel-list__counter;

  &:before {
    content: counters(voxel-list__counter, ".") ".";
    display: block;
    float: left;
    font-weight: bold;
    margin-right: $voxel-list__item__counter__margin--right;
    padding-bottom: $voxel-list__item__before__padding--bottom;
    padding-top: $voxel-list__item__before__padding--top;
  }
}

@mixin voxel-list__item__text() {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: $voxel-list__item__text__padding--bottom;
  padding-top: $voxel-list__item__text__padding--top;
}

@mixin voxel-list__item__link() {
  display: block;
  padding-bottom: $voxel-list__item__link__padding--bottom;
  padding-top: $voxel-list__item__link__padding--top;
  text-decoration: none;

  &:hover {
    @include background-with-css2-fallback(
      linear-gradient(
        to right,
        $voxel-list__item__link--hover__background-gradient__color--start,
        $voxel-list__item__link--hover__background-gradient__color--end
      )
    );
  }
}

@mixin voxel-list__item__link__themes($theme) {
  &:hover {
    @include background-with-css2-fallback(
      linear-gradient(
        to right,
        $voxel-list__item__link--hover__background-gradient__color--start,
        map-get(
          map-get(
            $voxel-color__themes,
            $theme
          ),
          $voxel-list__item__link--hover__background-gradient__color--end__shade
        )
      )
    );
  }
}


@mixin voxel-list__item__link--active() {
  @include background-image(
    linear-gradient(
      to right,
      $voxel-list__item__link--active__background-gradient__color--start,
      $voxel-list__item__link--active__background-gradient__color--end
    )
  );
}

@mixin voxel-list__item__link--active__themes($theme) {
  @include background-image(
    linear-gradient(
      to right,
      $voxel-list__item__link--active__background-gradient__color--start,
      map-get(
        map-get(
          $voxel-color__themes,
          $theme
        ),
        $voxel-list__item__link--active__background-gradient__color--end__shade
      )
    )
  );
}
