@mixin voxel-drawer() {
  @include box-shadow(0 0 rem-calc($voxel-drawer__box-shadow--radius) 0 $voxel-drawer__box-shadow--color);
  @include transition-duration($voxel-drawer__transition--duration);
  @include transition-property(-webkit-transform, -moz-transform, -o-transform, transform);
  @include transition-timing-function(ease-in);
  background-color: $voxel-drawer__background-color;
  border-right-color: $voxel-drawer__border--right--color;
  border-right-style: $voxel-drawer__border--right--style;
  border-right-width: $voxel-drawer__border--right--width;
  font-family: $voxel-drawer__font-family;
  height: 100%;
  left: rem-calc(-($voxel-drawer__width));
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: rem-calc($voxel-drawer__width);
  z-index: $voxel-drawer__z-index;
}

@mixin voxel-drawer--with-transforms() {
  @include transform(translate3d(rem-calc(-($voxel-drawer__width)), 0, 0));
  left: 0;
}

@mixin voxel-drawer--active() {
  left: 0;
}

@mixin voxel-drawer--active--with-transforms() {
  @include transform(translate3d(0, 0, 0));
}

@mixin voxel-drawer--active_siblings--with-filters() {
  @include filter(blur($voxel-drawer__layouts__page__blur));
}

@mixin voxel-drawer__toggle() {
  color: $voxel-drawer__toggle__color;
  font-family: sans-serif;
  font-size: $voxel-drawer__toggle__font-size;
  font-weight: bold;
  left: 0;
  padding-bottom: rem-calc($voxel-drawer__toggle__padding--bottom);
  padding-left: rem-calc($voxel-drawer__toggle__padding--left);
  padding-right: rem-calc($voxel-drawer__toggle__padding--right);
  padding-top: rem-calc($voxel-drawer__toggle__padding--top);
  position: fixed;
  text-decoration: none;
  top: 0;
  z-index: $voxel-drawer__toggle__z-index;
}

@mixin voxel-drawer__toggle--with-transitions() {
  @include transition-duration($voxel-drawer__toggle__transition--duration);
  @include transition-property(color, transform);
}

@mixin voxel-drawer__toggle--active() {
  color: $voxel-drawer__toggle__color--active;
}

@mixin voxel-drawer__toggle--active--with-transforms() {
  @include transform(rotateZ(180deg));
}

@mixin voxel-drawer__title() {
  color: $voxel-drawer__title__color;
  font-size: rem-calc($voxel-drawer__title__font-size);
  text-decoration: none;
}

@mixin voxel-drawer__header() {
  background-color: $voxel-drawer__header__background-color;
  margin-bottom: rem-calc($voxel-drawer__header__margin--bottom);
  min-height: rem-calc($voxel-drawer__header__height--min);
  padding-bottom: rem-calc($voxel-drawer__header__padding--bottom);
  padding-top: rem-calc($voxel-drawer__header__padding--top);
  position: relative;
  text-align: $voxel-drawer__header__text-align;

  &:before {
    @include box-shadow(
      $voxel-drawer__header__box-shadow--color
      0
      0
      $voxel-drawer__header__box-shadow--radius
      0
    );
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: rem-calc($voxel-drawer__header__box-shadow--height);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: rem-calc($voxel-drawer__header__box-shadow--width);
    z-index: -1;
  }
}

@mixin voxel-drawer__index() {
  counter-reset: voxel-drawer__index__counter;
  list-style-type: none;
  padding-left: $voxel-drawer__index__padding--left;
}

@mixin voxel-drawer__index__item() {
  counter-increment: voxel-drawer__index__counter;
  padding-bottom: $voxel-drawer__index__item__padding--bottom;
  padding-top: $voxel-drawer__index__item__padding--top;

  &:before {
    content: counters(voxel-drawer__index__counter, ".") ".";
    display: inline-block;
    font-weight: bold;
    margin-right: $voxel-drawer__index__item__counter__margin--right;
  }
}
