$voxel-drawer__include-classes: $voxel-components__include-classes !default;

$voxel-drawer__width: 16rem !default;

$voxel-drawer__z-index: 10 !default;

$voxel-drawer__layouts__page__blur: 5px !default;

$voxel-drawer__font-family: $voxel-fonts__font-family--headings !default;
$voxel-drawer__background-color: map-get($voxel-colors__brand--primary, "50") !default;

$voxel-drawer__border--right--color: map-get($voxel-colors__brand--primary, "100") !default;
$voxel-drawer__border--right--width: 1px !default;
$voxel-drawer__border--right--style: solid !default;

$voxel-drawer__box-shadow--radius: map-get($voxel-scaffolding__spacing--horizontal, "900") !default;
$voxel-drawer__box-shadow--color: map-get($voxel-colors__brand--primary, "50") !default;

$voxel-drawer__title__color: map-get($voxel-colors__brand--primary, "800") !default;
$voxel-drawer__title__font-size: map-get($voxel-fonts__font-size--headings, "h3") !default;

$voxel-drawer__transition--duration: $voxel-scaffolding__transition--duration !default;

$voxel-drawer__toggle__z-index: 20 !default;
$voxel-drawer__toggle__color: map-get($voxel-colors__brand--primary, "800") !default;
$voxel-drawer__toggle__color--active: map-get($voxel-colors__brand--primary, "300") !default;
$voxel-drawer__toggle__transition--duration: $voxel-scaffolding__transition--duration !default;
$voxel-drawer__toggle__font-size: map-get($voxel-fonts__font-size--headings, "h3") !default;
$voxel-drawer__toggle__padding--top: map-get($voxel-scaffolding__spacing--vertical, "300") !default;
$voxel-drawer__toggle__padding--bottom: map-get($voxel-scaffolding__spacing--vertical, "300") !default;
$voxel-drawer__toggle__padding--left: map-get($voxel-scaffolding__spacing--horizontal, "600") !default;
$voxel-drawer__toggle__padding--right: map-get($voxel-scaffolding__spacing--horizontal, "600") !default;

$voxel-drawer__header__background-color: map-get($voxel-colors__brand--primary, "50") !default;
$voxel-drawer__header__height--min: map-get($voxel-scaffolding__spacing--vertical, "a400") !default;
$voxel-drawer__header__margin--bottom: map-get($voxel-scaffolding__spacing--vertical, "a100") !default;
$voxel-drawer__header__padding--bottom: map-get($voxel-scaffolding__spacing--vertical, "300") !default;
$voxel-drawer__header__padding--top: map-get($voxel-scaffolding__spacing--vertical, "300") !default;
$voxel-drawer__header__text-align: center !default;
$voxel-drawer__header__box-shadow--color: map-get($voxel-colors__brand--primary, "400") !default;
$voxel-drawer__header__box-shadow--radius: map-get($voxel-scaffolding__spacing--vertical, "a100") !default;
$voxel-drawer__header__box-shadow--height: map-get($voxel-scaffolding__spacing--vertical, "a100") !default;
$voxel-drawer__header__box-shadow--width: 80% !default;

$voxel-drawer__index__padding--left: map-get($voxel-scaffolding__spacing--horizontal, "600") !default;
$voxel-drawer__index__item__padding--bottom: map-get($voxel-scaffolding__spacing--vertical, "50") !default;
$voxel-drawer__index__item__padding--top: map-get($voxel-scaffolding__spacing--vertical, "50") !default;
$voxel-drawer__index__item__counter__margin--right: map-get($voxel-scaffolding__spacing--horizontal, "400") !default;
