$drawer__width: 16rem;
$drawer__background-color: map-get($colors__gray, "200");
$drawer__box-shadow--radius: map-get($scaffolding__spacing--horizontal, "900");
$drawer__box-shadow--color: map-get($colors__gray, "100");
$drawer__title__color: map-get($colors__gray, "500");
$drawer__title__font-size: map-get($fonts__font-size--heading, "h3");
$drawer__transition--duration: $scaffolding__transition--duration;

$drawer__toggle__color: inherit;
$drawer__toggle__color--active: map-get($colors__gray, "500");
$drawer__toggle__transition--duration: $scaffolding__transition--duration;
$drawer__toggle__font-size: map-get($fonts__font-size--heading, "h3");
$drawer__toggle__padding--top: map-get($scaffolding__spacing--vertical, "300");
$drawer__toggle__padding--bottom: map-get($scaffolding__spacing--vertical, "300");
$drawer__toggle__padding--left: map-get($scaffolding__spacing--horizontal, "600");
$drawer__toggle__padding--right: map-get($scaffolding__spacing--horizontal, "600");


$drawer__header__background-color: map-get($colors__gray, "50");
$drawer__header__height--min: map-get($scaffolding__spacing--vertical, "a400");
$drawer__header__margin--bottom: map-get($scaffolding__spacing--vertical, "a100");
$drawer__header__padding--bottom: map-get($scaffolding__spacing--vertical, "300");
$drawer__header__padding--top: map-get($scaffolding__spacing--vertical, "300");
$drawer__header__padding--left: map-get($scaffolding__spacing--horizontal, "a200");

$drawer__header__box-shadow--color: map-get($colors__gray, "400");
$drawer__header__box-shadow--radius: map-get($scaffolding__spacing--vertical, "a100");
$drawer__header__box-shadow--height: map-get($scaffolding__spacing--vertical, "a100");
$drawer__header__box-shadow--width: 80%;
