@mixin voxel-header() {
  background: $voxel-header__background-color;
  border-bottom: $voxel-header__border--bottom--width $voxel-header__border--bottom--style $voxel-header__border--bottom--color;
  margin-bottom: rem-calc($voxel-header__margin--bottom);
  min-height: rem-calc($voxel-header__height--min);
  padding-bottom: rem-calc($voxel-header__padding--bottom);
  padding-top: rem-calc($voxel-header__padding--top);
  position: relative;
  text-align: center;

  @media (min-width: $voxel-scaffolding__screen--s--min) {
    text-align: initial;
  }

  &:before {
    @include box-shadow(
      $voxel-header__box-shadow--color
      0
      0
      $voxel-header__box-shadow--radius
      0
    );
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: rem-calc($voxel-header__box-shadow--height);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: rem-calc($voxel-header__box-shadow--width);
    z-index: -1;
  }
}

@mixin voxel-header__title() {
  color: $voxel-header__title__color;
  font-family: $voxel-header__title__font-family;
  font-size: rem-calc($voxel-header__title__font-size);
  text-decoration: none;
}

@mixin voxel-header__subtitle() {
  color: $voxel-header__subtitle__color;
  display: none;
  font-size: rem-calc($voxel-header__subtitle__font-size);
  margin-left: rem-calc($voxel-header__subtitle__margin--left);

  @media (min-width: $voxel-scaffolding__screen--s--min) {
    display: initial;
  }
}
