#voxel .voxel-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#voxel .voxel-image {
  display: block;
  margin-bottom: .5rem;
  max-width: 100%;
}
