@import "settings";
@import "documentation";

body {
  color: $fonts__color--base;
  font-family: $fonts__font-family--base;
  line-height: map-get($fonts__line-height, "600");
}

p {
  margin-bottom: $fonts__paragraph__margin--bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fonts__color--headings;
  font-family: $fonts__font-family--headings;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: map-get($fonts__line-height, "300");
  margin-bottom: $fonts__heading__margin--bottom;
  margin-left: 0;
  margin-right: 0;
  margin-top: $fonts__heading__margin--top;
}

h1 {
  font-size: map-get($fonts__font-size--heading, "h1");
  margin-top: 0;
}

h2 {
  font-size: map-get($fonts__font-size--heading, "h2");
}

h3 {
  font-size: map-get($fonts__font-size--heading, "h3");
}

h4 {
  font-size: map-get($fonts__font-size--heading, "h4");
}

h5 {
  font-size: map-get($fonts__font-size--heading, "h5");
}

h6 {
  font-size: map-get($fonts__font-size--heading, "h6");
}

small {
  font-size: $fonts__font-size--small;
}

a {
  color: $fonts__link__color--normal;
}

code {
  background-color: $fonts__code__background-color;
  border-color: $fonts__code__border--color;
  border-style: $fonts__code__border--style;
  border-width: $fonts__code__border--width;
  color: $fonts__code__color;
  margin-left: $fonts__code__margin--left;
  margin-right: $fonts__code__margin--left;
  padding-bottom: $fonts__code__padding--bottom;
  padding-left: $fonts__code__padding--left;
  padding-right: $fonts__code__padding--right;
  padding-top: $fonts__code__padding--top;
}

pre code {
  border-color: none;
  border-style: none;
  border-width: 0;
}
