@mixin voxel-fonts__body() {
  color: $voxel-fonts__color--base;
  font-family: $voxel-fonts__font-family--base;
  font-size: $voxel-fonts__font-size--base;
  font-weight: $voxel-fonts__font-weight--base;
  line-height: map-get($voxel-fonts__line-height, "600");
}

@mixin voxel-fonts__paragraph() {
  margin-bottom: $voxel-fonts__paragraph__margin--bottom;
}

@mixin voxel-fonts__headings--h123456() {
  color: $voxel-fonts__color--headings;
  font-family: $voxel-fonts__font-family--headings;
  font-weight: $voxel-fonts__font-weight--headings;
}

@mixin voxel-fonts__headings--h123456__themes($theme) {
  color: map-get(map-get($voxel-colors__themes, $theme), $voxel-fonts__color--headings__shade);
}

@mixin voxel-fonts__headings--h1234() {
  line-height: map-get($voxel-fonts__line-height, "300");
  margin-bottom: $voxel-fonts__heading__margin--bottom;
  margin-left: 0;
  margin-right: 0;
  margin-top: $voxel-fonts__heading__margin--top;
}

@mixin voxel-fonts__headings--h1() {
  font-size: map-get($voxel-fonts__font-size--headings, "h1");
}

@mixin voxel-fonts__headings--h2() {
  font-size: map-get($voxel-fonts__font-size--headings, "h2");
}

@mixin voxel-fonts__headings--h3() {
  font-size: map-get($voxel-fonts__font-size--headings, "h3");
}

@mixin voxel-fonts__headings--h4() {
  font-size: map-get($voxel-fonts__font-size--headings, "h4");
}

@mixin voxel-fonts__headings--h5() {
  font-size: map-get($voxel-fonts__font-size--headings, "h5");
}

@mixin voxel-fonts__headings--h6() {
  font-size: map-get($voxel-fonts__font-size--headings, "h6");
}

@mixin voxel-fonts__small() {
  font-size: $voxel-fonts__font-size--small;
}

@mixin voxel-fonts__a() {
  color: $voxel-fonts__link__color--normal;
}

@mixin voxel-fonts__a__themes($theme) {
  color: map-get(map-get($voxel-colors__themes, $theme), $voxel-fonts__link__color--normal__shade);
}

@mixin voxel-fonts__code() {
  background-color: $voxel-fonts__code__background-color;
  border-color: $voxel-fonts__code__border--color;
  border-style: $voxel-fonts__code__border--style;
  border-width: $voxel-fonts__code__border--width;
  color: $voxel-fonts__code__color;
  margin-left: $voxel-fonts__code__margin--left;
  margin-right: $voxel-fonts__code__margin--left;
  padding-bottom: $voxel-fonts__code__padding--bottom;
  padding-left: $voxel-fonts__code__padding--left;
  padding-right: $voxel-fonts__code__padding--right;
  padding-top: $voxel-fonts__code__padding--top;
}

@mixin voxel-fonts__code__themes($theme) {
  background-color: map-get(map-get($voxel-colors__themes, $theme), $voxel-fonts__code__background-color__shade);
  color: map-get(map-get($voxel-colors__themes, $theme), $voxel-fonts__code__color__shade);
}

@mixin voxel-fonts__pre__code() {
  background-color: initial;
  border-color: none;
  border-style: none;
  border-width: 0;
  color: inherit;
}

@mixin voxel-fonts__blockquote() {
  border-left-color: $voxel-fonts__blockquote__border--left--color;
  border-left-style: $voxel-fonts__blockquote__border--left--style;
  border-left-width: $voxel-fonts__blockquote__border--left--width;
  font-size: $voxel-fonts__blockquote__font-size;
  margin-bottom: $voxel-fonts__blockquote__margin--bottom;
  margin-left: $voxel-fonts__blockquote__margin--left;
  margin-right: $voxel-fonts__blockquote__margin--right;
  margin-top: $voxel-fonts__blockquote__margin--top;
  padding-bottom: $voxel-fonts__blockquote__padding--bottom;
  padding-left: $voxel-fonts__blockquote__padding--left;
  padding-right: $voxel-fonts__blockquote__padding--right;
  padding-top: $voxel-fonts__blockquote__padding--top;
}

@mixin voxel-fonts__blockquote__themes($theme) {
  border-left-color: map-get(map-get($voxel-colors__themes, $theme), $voxel-fonts__blockquote__border--left--color__shade);
}
