@mixin voxel-fonts__body() {
  color: $voxel-fonts__color--base;
  font-family: $voxel-fonts__font-family--base;
  font-size: rem-calc($voxel-fonts__font-size--base);
  font-weight: $voxel-fonts__font-weight--base;
  line-height: map-get($voxel-fonts__line-height, "600");
}

@mixin voxel-fonts__paragraph() {
  margin-bottom: rem-calc($voxel-fonts__paragraph__margin--bottom);
}

@mixin voxel-fonts__headings--h123456() {
  color: $voxel-fonts__color--headings;
  font-family: $voxel-fonts__font-family--headings;
  font-weight: $voxel-fonts__font-weight--headings;
}

@mixin voxel-fonts__headings--h1234() {
  line-height: map-get($voxel-fonts__line-height, "300");
  margin-bottom: rem-calc($voxel-fonts__heading__margin--bottom);
  margin-left: 0;
  margin-right: 0;
  margin-top: rem-calc($voxel-fonts__heading__margin--top);
}

@mixin voxel-fonts__headings--h1() {
  font-size: rem-calc(map-get($voxel-fonts__font-size--headings, "h1"));
}

@mixin voxel-fonts__headings--h2() {
  font-size: rem-calc(map-get($voxel-fonts__font-size--headings, "h2"));
}

@mixin voxel-fonts__headings--h3() {
  font-size: rem-calc(map-get($voxel-fonts__font-size--headings, "h3"));
}

@mixin voxel-fonts__headings--h4() {
  font-size: rem-calc(map-get($voxel-fonts__font-size--headings, "h4"));
}

@mixin voxel-fonts__headings--h5() {
  font-size: rem-calc(map-get($voxel-fonts__font-size--headings, "h5"));
}

@mixin voxel-fonts__headings--h6() {
  font-size: rem-calc(map-get($voxel-fonts__font-size--headings, "h6"));
}

@mixin voxel-fonts__small() {
  font-size: rem-calc($voxel-fonts__font-size--small);
}

@mixin voxel-fonts__a() {
  color: $voxel-fonts__link__color--normal;
}

@mixin voxel-fonts__code() {
  background-color: $voxel-fonts__code__background-color;
  border-color: $voxel-fonts__code__border--color;
  border-style: $voxel-fonts__code__border--style;
  border-width: $voxel-fonts__code__border--width;
  color: $voxel-fonts__code__color;
  margin-left: rem-calc($voxel-fonts__code__margin--left);
  margin-right: rem-calc($voxel-fonts__code__margin--left);
  padding-bottom: rem-calc($voxel-fonts__code__padding--bottom);
  padding-left: rem-calc($voxel-fonts__code__padding--left);
  padding-right: rem-calc($voxel-fonts__code__padding--right);
  padding-top: rem-calc($voxel-fonts__code__padding--top);
}

@mixin voxel-fonts__pre__code() {
  background-color: initial;
  border-color: none;
  border-style: none;
  border-width: 0;
  color: inherit;
}

@mixin voxel-fonts__blockquote() {
  border-left-color: $voxel-fonts__blockquote__border--left--color;
  border-left-style: $voxel-fonts__blockquote__border--left--style;
  border-left-width: $voxel-fonts__blockquote__border--left--width;
  font-size: rem-calc($voxel-fonts__blockquote__font-size);
  margin-bottom: rem-calc($voxel-fonts__blockquote__margin--bottom);
  margin-left: rem-calc($voxel-fonts__blockquote__margin--left);
  margin-right: rem-calc($voxel-fonts__blockquote__margin--right);
  margin-top: rem-calc($voxel-fonts__blockquote__margin--top);
  padding-bottom: rem-calc($voxel-fonts__blockquote__padding--bottom);
  padding-left: rem-calc($voxel-fonts__blockquote__padding--left);
  padding-right: rem-calc($voxel-fonts__blockquote__padding--right);
  padding-top: rem-calc($voxel-fonts__blockquote__padding--top);
}
