@mixin voxel-fonts__body() {
  color: $fonts__color--base;
  font-family: $fonts__font-family--base;
  line-height: map-get($fonts__line-height, "600");
}

@mixin voxel-fonts__paragraph() {
  margin-bottom: $fonts__paragraph__margin--bottom;
}

@mixin voxel-fonts__headings--h123456() {
  color: $fonts__color--headings;
  font-family: $fonts__font-family--headings;
  font-weight: normal;
}

@mixin voxel-fonts__headings--h1234() {
  line-height: map-get($fonts__line-height, "300");
  margin-bottom: $fonts__heading__margin--bottom;
  margin-left: 0;
  margin-right: 0;
  margin-top: $fonts__heading__margin--top;
}

@mixin voxel-fonts__headings--h1() {
  font-size: map-get($fonts__font-size--heading, "h1");
  margin-top: 0;
}

@mixin voxel__fonts__headings--h2() {
  font-size: map-get($fonts__font-size--heading, "h2");
}

@mixin voxel__fonts__headings--h3() {
  font-size: map-get($fonts__font-size--heading, "h3");
}

@mixin voxel__fonts__headings--h4() {
  font-size: map-get($fonts__font-size--heading, "h4");
}

@mixin voxel__fonts__headings--h5() {
  font-size: map-get($fonts__font-size--heading, "h5");
}

@mixin voxel__fonts__headings--h6() {
  font-size: map-get($fonts__font-size--heading, "h6");
}

@mixin voxel__fonts__small() {
  font-size: $fonts__font-size--small;
}

@mixin voxel__fonts__a() {
  color: $fonts__link__color--normal;
}

@mixin voxel__fonts__code() {
  background-color: $fonts__code__background-color;
  border-color: $fonts__code__border--color;
  border-style: $fonts__code__border--style;
  border-width: $fonts__code__border--width;
  color: $fonts__code__color;
  margin-left: $fonts__code__margin--left;
  margin-right: $fonts__code__margin--left;
  padding-bottom: $fonts__code__padding--bottom;
  padding-left: $fonts__code__padding--left;
  padding-right: $fonts__code__padding--right;
  padding-top: $fonts__code__padding--top;
}

@mixin voxel-fonts__pre__code() {
  background-color: initial;
  border-color: none;
  border-style: none;
  border-width: 0;
  color: inherit;
}
