$fonts__include-classes: $components__include-classes;

$fonts__line-height: (
  "300": 1.2,
  "600": 1.45,
  "900": 1.5
);

$fonts__font-family--sans-serif: "PT Sans", sans-serif;
$fonts__font-family--serif: "PT Serif", serif;
$fonts__font-family--monospace: monospace;
$fonts__font-family--base: $fonts__font-family--serif;
$fonts__font-family--headings: $fonts__font-family--sans-serif;

$fonts__color--base: map-get($colors__gray, "800");
$fonts__color--headings: map-get($colors__brand--primary, "800");

$fonts__font-size--heading: (
  // Perfect Fourth scale (1.333)
  // See type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Open%2BSans&font-family=%27Open%20Sans%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
  "h6": .75rem,
  "h5": 1rem,
  "h4": 1.333rem,
  "h3": 1.777rem,
  "h2": 2.369rem,
  "h1": 3.157rem
);

$fonts__font-size--small: .75em; // `em` so that it scales well inside any heading tag.

$fonts__paragraph__margin--bottom: map-get($scaffolding__spacing--vertical, "800");
$fonts__heading__margin--top: map-get($scaffolding__spacing--vertical, "a400");
$fonts__heading__margin--bottom: map-get($scaffolding__spacing--vertical, "300");

$fonts__link__color--normal: map-get($colors__brand--primary, "500");

$fonts__code__color: map-get($colors__brand--primary, "600");
$fonts__code__background-color: map-get($colors__brand--primary, "50");
$fonts__code__margin--left: map-get($scaffolding__spacing--horizontal, "100");
$fonts__code__margin--right: map-get($scaffolding__spacing--horizontal, "100");
$fonts__code__padding--left: map-get($scaffolding__spacing--horizontal, "300");
$fonts__code__padding--right: map-get($scaffolding__spacing--horizontal, "300");
$fonts__code__padding--top: 0;
$fonts__code__padding--bottom: 0;
$fonts__code__border--color: $scaffolding__body__background-color;
$fonts__code__border--width: 1px;
$fonts__code__border--style: dashed;
