@mixin voxel-code-snippet() {
  margin-bottom: $voxel-code-snippet__margin--bottom;
  margin-left: $voxel-code-snippet__margin--left;
  margin-right: $voxel-code-snippet__margin--right;
  margin-top: $voxel-code-snippet__margin--top;
  padding: $voxel-code-snippet__padding;
  position: relative;

  &:before {
    content: "";
    display: block;
    height: $voxel-code-snippet__icon__height;
    position: absolute;
    right: $voxel-code-snippet__icon__right;
    top: $voxel-code-snippet__icon__top;
    width: $voxel-code-snippet__icon__width;
  }
}

@mixin voxel-code-snippet--html() {
  &:before {
    background-image: $voxel-code-snippet__icon__background-image--html;
  }

  margin-top: 0;
}

@mixin voxel-code-snippet--js() {
  &:before {
    background-image: $voxel-code-snippet__icon__background-image--js;
  }
}

@mixin voxel-code-snippet__pre() {
  background-color: inherit;
  border-radius: initial;
  border: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: auto;
  padding: inherit;
  word-break: break-all;
  word-wrap: normal;
}
