$voxel-code-snippet__include-classes: $voxel-components__include-classes !default;

$voxel-code-snippet__padding: map-get($voxel-scaffolding__spacing--horizontal, "600") !default;
$voxel-code-snippet__position: relative !default;

$voxel-code-snippet__margin-top: map-get($voxel-scaffolding__spacing--vertical, "a100") !default;
$voxel-code-snippet__margin-right: 0 !default;
$voxel-code-snippet__margin-bottom: map-get($voxel-scaffolding__spacing--vertical, "a400") !default;
$voxel-code-snippet__margin-left: 0 !default;

$voxel-code-snippet__icon__display: block !default;
$voxel-code-snippet__icon__position: absolute !default;
$voxel-code-snippet__icon__width: 64px !default;
$voxel-code-snippet__icon__height: 64px !default;
$voxel-code-snippet__icon__top: -($voxel-code-snippet__icon__height / 2) !default;
$voxel-code-snippet__icon__right: 0 !default;

$voxel-code-snippet__icon__background-image--html: url("../images/html.png") !default;
$voxel-code-snippet__icon__background-image--js: url("../images/js.png") !default;
$voxel-code-snippet__icon__background-image--css: url("../images/css.png") !default;

$voxel-code-snippet__pre__background-color: inherit !default;
$voxel-code-snippet__pre__border-radius: initial !default;
$voxel-code-snippet__pre__border: 0 !default;
$voxel-code-snippet__pre__color: inherit !default;
$voxel-code-snippet__pre__font-size: inherit !default;
$voxel-code-snippet__pre__line-height: inherit !default;
$voxel-code-snippet__pre__margin: 0 !default;
$voxel-code-snippet__pre__overflow: auto !default;
$voxel-code-snippet__pre__padding: inherit !default;
$voxel-code-snippet__pre__word-break: break-all !default;
$voxel-code-snippet__pre__word-wrap: normal !default;
