$voxel-code-snippet__include-classes: $voxel-components__include-classes !default;

$voxel-code-snippet__padding--top: map-get($voxel-scaffolding__spacing--vertical, "a100") !default;
$voxel-code-snippet__padding--right: map-get($voxel-scaffolding__spacing--horizontal, "600") !default;
$voxel-code-snippet__padding--bottom: map-get($voxel-scaffolding__spacing--vertical, "600") !default;
$voxel-code-snippet__padding--left: map-get($voxel-scaffolding__spacing--horizontal, "600") !default;

$voxel-code-snippet__margin--top: map-get($voxel-scaffolding__spacing--vertical, "600") !default;
$voxel-code-snippet__margin--right: 0 !default;
$voxel-code-snippet__margin--bottom: map-get($voxel-scaffolding__spacing--vertical, "600") !default;
$voxel-code-snippet__margin--left: 0 !default;
