$voxel-colors__include-classes: $voxel-components__include-classes !default;

$voxel-colors__transparent: rgba(0, 0, 0, 0) !default;

$voxel-colors__gray: () !default;
$voxel-colors__gray: map-merge((
  "50": #fafafa,
  "100": #f5f5f5,
  "200": #eee,
  "300": #e0e0e0,
  "400": #bdbdbd,
  "500": #9e9e9e,
  "600": #757575,
  "700": #616161,
  "800": #424242,
  "900": #212121
), $voxel-colors__gray);

$voxel-colors__indigo: () !default;
$voxel-colors__indigo: map-merge((
  "50": #e8eaf6,
  "100": #c5cae9,
  "200": #9fa8da,
  "300": #7986cb,
  "400": #5c6bc0,
  "500": #3f51b5,
  "600": #3949ab,
  "700": #303f9f,
  "800": #283593,
  "900": #1a237e,
  "a100": #8c9eff,
  "a200": #536dfe,
  "a400": #3d5afe,
  "a700": #304ffe
), $voxel-colors__indigo);

$voxel-colors__amber: () !default;
$voxel-colors__amber: map-merge((
  "50": #fff8e1,
  "100": #ffecb3,
  "200": #ffe082,
  "300": #ffd54f,
  "400": #ffca28,
  "500": #ffc107,
  "600": #ffb300,
  "700": #ffa000,
  "800": #ff8f00,
  "900": #ff6f00,
  "a100": #ffe57f,
  "a200": #ffd740,
  "a400": #ffc400,
  "a700": #ffab00
), $voxel-colors__amber);

$voxel-colors__orange: () !default;
$voxel-colors__orange: map-merge((
  "50": #fff3e0,
  "100": #ffe0b2,
  "200": #ffcc80,
  "300": #ffb74d,
  "400": #ffa726,
  "500": #ff9800,
  "600": #fb8c00,
  "700": #f57c00,
  "800": #ef6c00,
  "900": #e65100,
  "a100": #ffd180,
  "a200": #ffab40,
  "a400": #ff9100,
  "a700": #ff6d00
), $voxel-colors__orange);

$voxel-colors__blue-gray: () !default;
$voxel-colors__blue-gray: map-merge((
  "50": #eceff1,
  "100": #cfd8dc,
  "200": #b0bec5,
  "300": #90a4ae,
  "400": #78909c,
  "500": #607d8b,
  "600": #546e7a,
  "700": #455a64,
  "800": #37474f,
  "900": #263238
), $voxel-colors__blue-gray);

$voxel-colors__brand--primary: $voxel-colors__blue-gray !default;
