$layouts__content__max-width: 48rem;

$layouts__content__padding--horizontal: map-get($scaffolding__spacing--horizontal, "400");
$layouts__content__padding--vertical: map-get($scaffolding__spacing--vertical, "400");

$layouts__image__margin--vertical: map-get($scaffolding__spacing--vertical, "100");
